<div class="container height-total">
  <div class="justify-content-center padding-top">
    <div class="col align-self-center text-center">
      <a routerLink="../show-code"><img src="/assets/img/qr-code.png" width="200" height="200" class="d-inline-block align-top" alt="Mostrar QR-Code" loading="lazy" placement="right" ngbTooltip="Mostrar Código QR"></a>
    </div>
  </div>
  <div class="justify-content-center pt-5">
    <div class="col align-self-center text-center">
      <a routerLink="../number"><img src="/assets/img/show-number.png" width="200" height="200" class="d-inline-block align-top" alt="Mostrar Secuencia" loading="lazy" placement="right" ngbTooltip="Secuencia de números"></a>
    </div>
  </div>
  <div class="justify-content-center pt-5">
    <div class="col align-self-center text-center">
      <a routerLink="../station"><img src="/assets/img/next-number.svg" width="200" height="200" class="d-inline-block align-top" alt="Estación de trabajo" loading="lazy"  placement="right" ngbTooltip="Estación de trabajo"></a>
    </div>
  </div>
</div>
