<h1 class="titulo">Gracias por confiar en nosotros.</h1>
<h3 class="subtitulo">Por favor espere su turno.</h3>
<div class="container height-total">
  <div class="row justify-content-center height-total">
    <div class="col align-self-center text-center">
      <div class="containerLoading">
        <div class="containerLoading loading" [ngStyle]="{'display': loadStatus}">
          <div class="loading__letter">L</div>
          <div class="loading__letter">o</div>
          <div class="loading__letter">a</div>
          <div class="loading__letter">d</div>
          <div class="loading__letter">i</div>
          <div class="loading__letter">n</div>
          <div class="loading__letter">g</div>
          <div class="loading__letter">.</div>
          <div class="loading__letter">.</div>
          <div class="loading__letter">.</div>
        </div>
      </div>
      <app-yourturn [sec]="currentSecuence" (toggle)="loadStatus=$event"></app-yourturn>
    </div>
  </div>
</div>
<h3 class="pie">En breve sera atendido.</h3>

<a routerLink="/"><img class="out-module" src="assets/img/door-open-solid.svg" placement="right" ngbTooltip="Salir" loading="lazy"></a>
