<h1 class="titulo">Estación de trabajo.</h1>
<h3 class="subtitulo">Haga clic en la flecha para llamar al siguiente cliente.</h3>
<div class="container height-total">
  <div class="row justify-content-center height-total">
    <div class="col align-self-center text-center">
      <app-next></app-next>
    </div>
  </div>
</div>
<img class="logo" src="assets/img/logo.png">

<a routerLink="/"><img class="out-module" src="assets/img/door-open-solid.svg" placement="right" ngbTooltip="Salir" loading="lazy"></a>
