/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Quicksand' !important;
  background: #9dff00;
  height: 100vh;
}

.height-total {
  height: 100vh !important;
}

.titulo {
  display: block;
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.subtitulo {
  display: block;
  position: absolute;
  top: 190px;
  width: 100%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.pie {
  display: block;
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.out-module {
  display: block;
  position: absolute;
  bottom: 40px;
  width: 64px;
  left: calc(50% - 32px);
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.containerLoading {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: fadeInOut 3000ms;
  animation: fadeInOut 3000ms;
}

.loading {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-content: center;
  padding-left: auto;
  padding-right: auto;
}

.loading__letter {
  font-size: 88px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  animation-name: bounce;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@-webkit-keyframes fadeInOut {
  0%    { opacity: 0.0; }
  15%   { opacity: 0.7; }
  30%   { opacity: 1.0; }
  90%   { opacity: 0.3; }
  100%  { opacity: 0.0; }
}
@keyframes fadeInOut {
  0%    { opacity: 0.0; }
  15%   { opacity: 0.7; }
  30%   { opacity: 1.0; }
  90%   { opacity: 0.3; }
  100%  { opacity: 0.0; }
}
